## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv')

In [3]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [68]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [69]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [4]:
x = df.drop(columns=['stab','stabf'])

In [5]:
y = df.iloc[:,13].values

In [12]:
y =y.reshape(-1, 1)

In [14]:
y

array([['unstable'],
       ['stable'],
       ['unstable'],
       ...,
       ['stable'],
       ['unstable'],
       ['unstable']], dtype=object)

In [6]:
#split data into training and test set

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

x_test = scaler.fit_transform(x_test)

In [16]:
#reshaping array: convert from 1D to 2D array

y_train=y_train.reshape(-1, 1)
y_test=y_test.reshape(-1, 1)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
y_train = scaler.fit_transform(y_train)

### XGBoost Classifier

In [29]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [47]:
# fit model no training data
model = XGBClassifier()
model.fit(x_train, y_train)

[21:51:59] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=2,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [35]:

# make predictions for test data
y_pred = model.predict(x_test)
predictions = [round(value) for value in y_pred]

In [38]:
# make predictions for test data
y_pred = model.predict(x_test)
y_pred

array([ 0.75570623,  0.75570623, -1.32326552, ..., -1.32326552,
        0.75570623,  0.75570623])

In [45]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
accuracy

0.6225

## Lightgbm Classifier

In [52]:
conda install -c conda-forge lightgbm

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.
Solving environment: ...working... done


## Package Plan ##

  environment location: C:\Users\orjic\anaconda3

  added / updated specs:
    - lightgbm


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lightgbm-3.3.2             |   py38h885f38d_0         912 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         912 KB

The following NEW packages will be INSTALLED:

  lightgbm           conda-forge/win-64::lightgbm-3.3.2-py38h885f38d_0



Downloading and Extracting Packages

lightgbm-3.3.2       | 912 KB    |            |   0%
lightgbm-3.3.2       | 912 KB    | 1          |   2%
lightgbm-3.3.2       | 912 KB    | 7          |   7%
lightgbm-3.3.2       | 912 KB    | 8          |   9%
lightgbm-3.3.2       | 912 KB    | #          |  11%
lightgbm-3.3.2       | 912 KB    | #4         |  14%
lightgbm-3.3.2       | 912 KB    | #5         |  16%
lightgbm-3.3.2       | 912 KB    | #9         |  19%
lightgbm-3.3.2       | 912 KB    | ##2        |  23%
lightgbm-3.3.2       | 912 KB    | ##9        |  30%
lightgbm-3.3.2       | 912 KB    | ###5       |  35%
lightgbm-3.3.2       | 912 KB    | ###8       |  39%
lightgbm-3.3.2       | 912 KB    | ####2      |  42%
lightgbm-3.3.2       | 912 KB    | ####5      |  46%
lightgbm-3.3.2       | 912 KB    | ####7      |  47%
lightgbm-3.3.2       | 912 KB    | ####9      |  49%
lightgbm-3.3.2       | 912 KB    | #####6     |  56%
lightgbm-3.3.2       | 912 KB    | #####7     |  58%
lightgbm-3.3.2       | 912 KB    | ######1    |  61%
lightgbm-3.3.2       | 912 KB    | ######3    |  63%
lightgbm-3.3.2       | 912 KB    | ######4    |  65%
lightgbm-3.3.2       | 912 KB    | #######7   |  77%
lightgbm-3.3.2       | 912 KB    | ########   |  81%
lightgbm-3.3.2       | 912 KB    | ########7  |  88%
lightgbm-3.3.2       | 912 KB    | #########1 |  91%
lightgbm-3.3.2       | 912 KB    | #########8 |  98%
lightgbm-3.3.2       | 912 KB    | #########9 | 100%
lightgbm-3.3.2       | 912 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [53]:
import lightgbm
print(lightgbm.__version__)

3.3.2

In [65]:
df.shape

(10000, 14)

In [67]:
# evaluate lightgbm algorithm for classification
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from lightgbm import LGBMClassifier
# define dataset
X, y = make_classification(n_samples=10000, n_features=12,  random_state=1)
# define the model
model = LGBMClassifier()
# evaluate the model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, x_test, y_test, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.902 (0.017)

In [25]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators = 1000, random_state=1)